{% extends 'base.html' %}

{% block contents %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<!-- 유저 네임이 중복될 경우 띄여주는 경고 -->

    <h1>Sign Up!</h1>
    <form method="POST" action="{% url 'signup' %}">
    <!-- post 방식으로 어느 url에 보낼지 -->
    {% csrf_token %}
    <!-- 보안을 위해서 써주는 난수발생기 , csrf공격 방어 (사이트간 요청 위조) -->
        Username:
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password1" type="password">
        <br>
        Confirm Password:
        <br>
        <input name="password2" type="password">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign Up!">
    </form>
{% endblock %}

        